* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color:darkgrey;
}

#app-header {
    background-color: white;
    padding: 1rem;
}

#logo {
    vertical-align: middle;
}

#namelogo {
    font-size: 3rem;
    margin: auto;
    vertical-align: middle;
}

#container {
    margin: auto;
    margin-top: 3rem;
    background-color: white;
    width: 70%;
    padding-inline: 2rem;
    padding-top: 1rem;
    border-radius: 10px;
    padding-bottom: 1rem;
}

#addtask {
    background-color: rgb(72, 118, 255); 
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px;
}

#addsection {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: grey;
}

#dropmenu {
    margin: 20px;
}

.editorial_badge {
    background-color: dodgerblue;
    border-radius: 10px;
    font-size: smaller;
    color: white;
    padding: 5px;
}

.q1_badge {
    background-color:blueviolet ;
    border-radius: 10px;
    font-size: smaller;
    color: white;
    padding: 5px;
}

.recruiting_badge {
    background-color:seagreen ;
    border-radius: 10px;
    font-size: smaller;
    color: white;
    padding: 5px;
}

.mobile_badge {
    background-color:rgb(255, 178, 36) ;
    border-radius: 10px;
    font-size: smaller;
    color: white;
    padding: 5px;
}

.website_badge {
    background-color:rgb(255, 36, 127) ;
    border-radius: 10px;
    font-size: smaller;
    color: white;
    padding: 5px;
}

.saeles_badge {
    background-color:rgb(143, 255, 109) ;
    border-radius: 10px;
    font-size: smaller;
    color: white;
    padding: 5px;
}
