* {
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color:darkgrey;
}

#app-header {
    background-color: white;
    padding: 1rem;
}

#logo {
    vertical-align: middle;
}

#namelogo {
    font-size: 3rem;
    margin: auto;
    vertical-align: middle;
}

#container {
    margin: 3rem;
    background-color: white;
    width: 70%;
    height: 500px;
    padding-inline: 2rem;
    padding-top: 1rem;
    border-radius: 10px;
}

#addtask {
    background-color: royalblue; 
    margin-left: 20px;
    padding: 10px;
    border-radius: 10px; 
}

#addsection {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    color: grey;
}

#dropmenu {
    margin: 20px;
}